- variations.try(:each) do |variation|
  tr class="#{cycle('bg-blue-100', 'bg-blue-200')} h-14" id="variation-#{variation.oid}"
    td.w-12.text-center
      span.px-2.rounded.bg-yellow-400= variation.oid
    td.w-6.text-center
      span= variation.from
    td.w-6.text-center
      span= variation.to
    td.w-6.text-center
      span= variation.duration
    td.w-6.text-center
      span= variation.interval
    td.px-2.py-2.rounded.bg-yellow-400.w-6.text-center id="#{variation.oid}-current-value"
      span.text-bold= variation.current_value
    td.w-6.text-center
      = link_to "Cancel Job", cancel_job_variations_path(1)
