div class="flex w-full flex-col justify-items-auto text-center" id="variations-table" 
  - unless VariateJob.class_variable_get(:@@active_jobs).empty?
    h2.text-red-700.font-extrabold.text-lg.mb-2
      | Variations underway
    table class="table-fixed border border-2 w-full mb-20" id="variations-table"
      thead
        tr
          th.w-12 OID
          th.w-6 FROM
          th.w-6 TO
          th.w-6 DURATION
          th.w-6 INTERVAL
          th.w-6 CURRENT VALUE
          th.w-6 CANCEL
      tbody#variations-container
        = render(partial: "variations/variation_recap", locals: { variations: @variations })
  - else
      h3.text-red-700.text-bold.text-lg.mb-10
        | No Variations Running at the moment
