= form_with(url: "#{update_rec_entry_path}##{entry.oid.gsub(".", "")}", id: "update-#{entry.oid.gsub(".","")}",  method: "put", class: "flex w-full items-center my-1") do |f|
  = f.hidden_field :name, value: name
  = f.hidden_field :oid, value: entry.oid
  - f.hidden_field :from_entry_form, value: true
  - if is_numeric?(entry.tag)
    = f.number_field :value, id: "value-#{entry.oid}", value: entry.value.to_i, class: "w-4/5 p-2 rounded"
  - else
    /! Line underneath creates issues with dahua.snmprec
    = f.text_area :value, class: "p-2 rounded w-4/5", value: is_hex_or_ascii_string?(entry.tag) ? decode_value(entry).html_safe : entry.value.strip
  = f.submit "change", class: "button rounded ml-2 px-2 update-entry"
