tr class=cycle('bg-blue-100', 'bg-blue-200') class="h-14" id=entry.oid.gsub(".", "")
  td
    span.pl-2 = entry.id
  td.overflow-scroll
    p.oid = entry.oid
    p = entry.translation if entry.translation
  td.p-2
    span = sanitize(get_type(entry.tag))
  td class="m-auto mx-4 overflow-x-scroll flex justify-end mr-2"
    = render(partial: "shared/entry_form", locals:{entry: entry, name: @name})
    = render(partial: "shared/variate_button", locals:{entry: entry, name: @name}) if is_numeric?(entry.tag)
