#flash-error.fixed.top-0.inset-x-0.pb-2.sm:pb-5
  .max-w-7xl.mx-auto.px-2.sm:px-6.lg:px-8
    .p-2.rounded-lg.bg-red-600.shadow-lg.sm:p-3
      .flex.items-center.justify-between.flex-wrap
        .w-0.flex-1.flex.items-center
          span.flex.p-2.rounded-lg.bg-indigo-800
            /! Heroicon name: outline/speakerphone
            svg.h-6.w-6.text-white aria-hidden="true" fill="none" stroke="currentColor" viewbox=("0 0 24 24") xmlns="http://www.w3.org/2000/svg"
              path d=("M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z") stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          p.ml-3.font-medium.text-black.truncate
            span.hidden.md:inline
              = local_assigns[:message]
        .order-2.flex-shrink-0.sm:order-3.sm:ml-2
          button#dismiss.-mr-1.flex.p-2.rounded-md.hover:bg-black-500.focus:outline-none.focus:ring-2.focus:ring-white type="button"
            span.sr-only Dismiss
            /! Heroicon name: outline/x
            svg.h-6.w-6.text-white aria-hidden="true" fill="none" stroke="currentColor" viewbox=("0 0 24 24") xmlns="http://www.w3.org/2000/svg"
              path d=("M6 18L18 6M6 6l12 12") stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
