- cursor = local_assigns[:cursor]
= link_to "LOAD 100 MORE", rec_file_path(params: {cursor: @cursor, request_type: "show_100"}), remote: true, class: "mt-2 m-auto inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
