#results-modal.fixed.z-10.inset-0.overflow-y-auto x-data="{open: true}" x-show="open" @click.away="open = false"
  .flex.items-end.justify-center.min-h-screen.pt-4.px-4.pb-20.text-center.sm:block.sm:p-0
    #background.origin-top-right.absolute.right-0.mt-2.w-full.rounded-md.shadow-lg aria-hidden="true" class=("fixed inset-0 transition-opacity") x-show="open" x-transition:enter=("transition ease-out duration-100 transform") x-transition:enter-end=("opacity-100 scale-100") x-transition:enter-start=("opacity-0 scale-95") x-transition:leave=("transition ease-in duration-75 transform") x-transition:leave-end=("opacity-0 scale-95") x-transition:leave-start=("opacity-100 scale-100")
      .absolute.inset-0.bg-gray-500.opacity-75
    /! This element is to trick the browser into centering the modal contents.
    span.hidden.sm:inline-block.sm:align-middle.sm:h-screen aria-hidden="true"
    #panel.inline-block.align-bottom.bg-white.rounded-lg.px-4.pt-5.pb-4.text-left.overflow-hidden.shadow-xl.transform.transition-all.sm:my-8.sm:align-middle.sm:p-6 aria-labelledby="modal-headline" @click.away="open = false" aria-modal="true" class="lg:w-3/5 md:w-3/5" role="dialog"
      .mx-auto.flex.flex-row.items-center.justify-center.h-12.w-12.rounded-full class="w-1/2 #{@warning || (@count.zero?) ? 'bg-red-100' : 'bg-green-100'}"
        .text-lg
          -if @count > 0
            = pluralize(@count, 'OID')
            | &nbsp found
          - else
            = "No OID found"
      .mt-3.text-center.sm:mt-5
        - if @warning
          = @warning
        .flex.w-full.flex-row.flex-wrap.place-content-center
          input.rounded.border-2.p-3 class="bg-purple-white.shadow w-10/12" data-filename="#{@name}" type="search" value="#{@oid}" class="w-full" id="modal-js-search"
          - if @entries.size >= 1
            table.border.border-2.mt-2 class="w-10/12"
              thead
                tr
                  th.border class="w-1/2"  OID
                  th.border class="w-1/5"  TYPE
                  th.border class="w-1/2"  VALUE
                thead
                  tbody
                    - @entries.each do |entry|
                      tr class="#{cycle('bg-blue-100', 'bg-blue-200')} h-14"
                        td
                          span= entry.oid
                          br/
                          span= entry.translation
                        td
                          span= get_type(entry.tag)
                        td.m-auto.overflow-x-scroll
                          = render(partial: "shared/entry_form", locals:{entry: entry, name: @name})
                          = render(partial: "shared/variate_button", locals: {entry: entry}) if is_numeric?(entry.tag)
