#variate-modal.fixed.z-10.inset-0.overflow-y-auto x-data="{open: #{@is_open}}" x-show="open" @click.away="open = false"
  .flex.items-end.justify-center.min-h-screen.pt-4.px-4.pb-20.text-center.sm:block.sm:p-0
    #background.origin-top-right.absolute.right-0.mt-2.w-full.shadow-lg aria-hidden="true" class=("fixed inset-0 transition-opacity") x-show="open" x-transition:enter=("transition ease-out duration-100 transform") x-transition:enter-end=("opacity-100 scale-100") x-transition:enter-start=("opacity-0 scale-95") x-transition:leave=("transition ease-in duration-75 transform") x-transition:leave-end=("opacity-0 scale-95") x-transition:leave-start=("opacity-100 scale-100")
      .absolute.inset-0.bg-gray-500.opacity-75
    /! This element is to trick the browser into centering the modal contents.
    span.hidden.sm:inline-block.sm:align-middle.sm:h-screen aria-hidden="true"
    #panel.inline-block.align-bottom.bg-white.rounded-lg.px-4.pt-5.pb-4.text-left.overflow-hidden.shadow-xl.transform.transition-all.sm:my-8.sm:align-middle.sm:p-6 aria-labelledby="modal-headline" @click.away="open = false" aria-modal="true" class="lg:w-3/5 md:w-3/5" role="dialog"
        h1 id="variation-title"
         = "Variation for #{@variation.oid}, current value: #{@variation.from}"
        .flex.w-full.flex-row.flex-wrap.place-content-center
          = form_for(Snmp::Variation.new, url: variations_path, method: :post, html: {class: "flex flex-col"}) do |f|
            = f.hidden_field :oid, value: @variation.oid, id: "variate-oid"
            = f.hidden_field :from, value: @variation.from, id: "variate-from"
            = f.hidden_field :filename, value: @variation.filename
            = f.label :to, class: "mr-2"
            = f.number_field :to, value: @variation.from, class: "border rounded-md", id:"variate-to"
            = f.label :duration, class: "mr-2"
            = f.number_field :duration, value: 20, min: 0, class: "border rounded-md"
            = f.label :interval, class: "mr-2"
            = f.number_field :interval, value: 5, min: 0, class: "border rounded-md"
            div.flex
              = check_box_tag(:linear)
              = label_tag(:linear, "Linear")
              = check_box_tag(:random)
              = label_tag(:random, "Random")
            = f.submit "start!", class: "button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full update-entry"

