= form_for entry.variation, url: {action: :build_variation_modal, controller: :variations}, remote: true do |f|
  = f.hidden_field :from, value: entry.variation.instance_variable_get(:@from)
  = f.hidden_field :oid, value: entry.variation.instance_variable_get(:@oid)
  = f.hidden_field :filename, value: @name
  = f.submit "Variate", id: "variate-#{entry.variation.instance_variable_get(:@oid)}", class: "button rounded ml-2 px-2 variate bg-blue-500 hover:bg-blue-700 text-white font-bold"

