div.mt-10.mb-5
  p  A simple Rails app to help you manage the contents of snmprec files used by the SNMPSIM SNMP Simulator by Ilia Etingof
  p It uses Redis as the backend so you need to register the snmprec files as a first step. Look at the README for further instructions.
  p Have fun!
- if @rec_files.empty?
  p = "No rec files at the root of the app"
- else
  h2.mt-2 = "#{pluralize(@rec_files.count, 'snmprec file')} found ".upcase
  - @rec_files.each do |file|
    div.bg-white.px-4.py-5.border-b.border-gray-200.sm:px-6
      = link_to file, rec_file_path(file, params: {request_type: "show_100", cursor: 0})
