=content_for :filename do
  span = "Showing contents of file:"
  span.text-red-600 = " #{@name}"
  span = ".snmprec"
end
.fixed.w-10/12.bg-white.mb-44.mr-4
  span.text- Showing
  span#showing.text-purple-700.text-opacity-100 = " #$items_loaded"
  span = " of"
  span.text-purple-700.text-opacity-100 = " #@number_of_entries entries"
  input.bg-purple-white.shadow.rounded.border-0.p-3 type="search" data-filename=@name placeholder="Search for an OID (numeric (min 10 characters) or string representations (min 3 characters)) Press Enter to search" class="w-full" id="js-search"
  .mr-6.my-2 class="w-1/2 flex flex-row"
  p.text-red-600.font-extrabold.mt-2#no-results
  .mb-2
    span#load_more
      = render(partial: "shared/load_more", locals: {cursor: @cursor})
    span#load_all
        = render(partial: "shared/load_all", locals: {cursor: @cursor})
#results-container.mt-40
#variations-modal-container
= render(partial: "jobs/variations_underway", locals: {variations: @variations})
.flex.w-full.flex-col.justify-items-auto.mt-30
  table.table-fixed.border.border-2.w-full.text-center id="entries-table"
    thead
      tr
        th.w-6 NUMBER
        th.w-24 OID
        th.w-6 TYPE
        th.w-24 VALUE
    tbody
      - @entries.each_with_index do |entry, index|
          = render(partial: "shared/entry", locals: {entry: entry, name: @name, index: $items_loaded + index})
