table = document.getElementById("entries-table");
showing = document.getElementById("showing");
load_more = document.getElementById("load_more");
if(showing){
  showing.innerText = " <%= $items_loaded %>"
}
if(table){
  table.insertAdjacentHTML('beforeEnd',  `
    <% @entries.each_with_index do |entry,index| %>
      <%= j render partial: "shared/entry", locals: {entry: entry, index: index} %>
    <% end %>
  `)

  if(load_more){
    load_more.innerHTML = "<%= j render partial: "shared/load_more", locals: {cursor: @cursor} %>"
  }
}

