doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    title SNMP Simulator Manager
    meta content="width=device-width,initial-scale=1" name="viewport"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'search', 'data-turbolinks-track': 'reload' if action_name == "show_rec_file"
    script defer="defer" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" 
  body
    .h-12
      - if flash[:success]
        = render(partial: "shared/success", locals: {message: flash[:success]})
      - if flash[:error]
        = render(partial: "shared/error", locals: {message: flash[:error]})
    /! This example requires Tailwind CSS v2.0+
    .max-w-7xl.mx-auto.sm:px-6.lg:px-8.mt-1
      .md:flex.md:items-center.md:justify-between
        .flex-1.min-w-0
          = link_to "https://nobius.co.uk/", target: "_blank" do 
            = image_tag("logo", size: "200x150", style: "display: inline")
          h2.text-2xl.font-bold.leading-7.text-gray-900.sm:text-3xl.sm:truncate.ml-2 style="display:inline"
            | SNMP Simulator Manager
          div = yield :filename
        .mt-4.flex.md:mt-0.md:ml-4
          button.ml-3.inline-flex.items-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-sm.font-medium.text-white.bg-red-600.hover:bg-indigo-700.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-indigo-500 type="button" 
            = link_to "Home", root_path
          button.ml-3.inline-flex.items-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-sm.font-medium.text-white.bg-indigo-600.hover:bg-indigo-700.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-indigo-500 type="button" 
            = link_to "Buy me a coffee here", "#"
      = yield

